*{margin: 0%;
  padding: 0;
  box-sizing: border-box;
  

}

.texto-blanco{color: white; text-align: center;}

.texto-negro{color: black; text-align: center;}

#boton-menu{display: none;}




*{margin: 0%;
  padding: 0%;
  box-sizing: border-box;
} 


body{background-color: black;}

h1{color: bisque;}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  

}

.nav-menu a{ text-decoration: none; color: rgb(199, 28, 28);}

a:hover{color: white;}

#logo{width: 40%;}


#logo img{ width: 30%;
  
}



.nav-menu  {
  width: 90%;

  
  

  
  
  
  
  
} 


.nav-ul{ display: flex;
  justify-content: space-around;
  align-items: center;
  

  text-align: center;

}

.nav-menu{
  list-style: none;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size: 1.3em; 
 }





   



.sub-li1, .sub-li2 {
 display: none;
 font-size: medium;
padding-top: 0.6%;
text-align: center;

}


.submenu a:hover{
  color:rgb(130, 126, 156);
 }


.visible{display: block;

}


#cookies{
  display: block;
  position: fixed;
  bottom: 0;
  left: 25%; 



  background: rgb(38, 14, 172);
  width: 50%;
  
  border-radius: 15px;
  
  text-align: center;
  animation-name: mover-cookies;
  animation-duration: 1.3s;
  
 
}





@keyframes mover-cookies {
  from{visibility: hidden;}
  to{visibility: hidden;}
  
}

#cookies img{
  max-width: 90px;


}

.contendor-cookies h2{
  
  font-weight: 600;
}


.contendor-cookies p{
  margin: 5px 0 20px 0;
  color: white;
  font-size: larger;
}



.botones-cookies button{
  padding: 10px 20px;
  background: #FCBA7F;
  border: none;
  outline: none1;
  font-size: 16px;
  cursor: pointer;
  
}

.botones-cookies a{ 
  text-decoration: none;

  color: chartreuse;
}

.botones-cookies a:hover{ color: black;}








/* slider */

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 2%;

   
    
 }


 @keyframes mover-dc {
  0%   { left:0px; transform: scale(0.5); }
  25%  { left:100px;}
  50%  { left:100px; }
  75%  { left:0px; }
  100% { left:0px; }

  

    
  

}

@keyframes mover-marvel {
  0%{right: 0px; transform: scale(0.5)}
  25%{right: 100px; }
  50%{right: 100px;}
  75%{right: 0px; }
  100%{right: 0px;}

  

  
  
}

@keyframes retrasar-bienvenida {
  
  from {
    visibility: hidden;
}
to {
    visibility: hidden;
}
  
}


@keyframes retrasar-vs {
  
  from {
    visibility: hidden;
}
to {
    visibility: hidden;
}
  
}
  




.imagen1{position: relative;
   margin-left: 4%;

  animation-name:mover-dc ;
   animation-duration: 2s;
  }

.imagen2{position: relative;
 
  animation-name:mover-marvel ;
   animation-duration: 2s;
   
}


.vs{
  position: relative;
  animation-name: retrasar-vs;
  animation-duration: 0.9s;
}


 /* bienvenida */

.bienvenida{
  margin-top: 3%;
  text-align: center;
  font-family:cursive;
  animation-name: retrasar-bienvenida ;
  position: relative;
  animation-duration: 0.8s;

}




.boton{padding: 2%;
cursor: pointer;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size:larger;
background-color: brown;
}

.boton.marvel:hover{background-image:url("imagenes/marvel.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color:rgb(236, 11, 11);
  
}


.boton.dc:hover{background-image:url("imagenes/dc1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
} 


/* Pie */

.pie{display:flex;
  justify-content: space-evenly;

   margin-top: 2%;
   background-color:  rgba(116, 13, 13, 0.952);
   font-size:larger

}



.nombre h3, .legal h3{border-bottom: solid 3px blue;
  border-width: 100%;
  text-align: center;
  
}


.nombre img{margin-top: 4%;}

.li-legal{list-style: none;
  margin-top:4%;
}

.legal a{text-decoration: none; 
         color: white;
}

.legal a:hover{opacity: 0.5;
}

.texto-pie{display: flex; 
  justify-content: center;
  border: solid 6 px black;
  font-family:cursive;
  font-size: larger;
  margin-left: 7%;
  
}

/*Media query tablet*/







 
 
 



